# Importing and Manipulating Data

In this lecture we will focus on how to import data from data sources like excel or csv's. Once imported, we will learn how to manipulate the data similar to excel

## Checklist:

    1) Importing data with Pandas
    2) Aggregation of the Data
    3) Self Labeling/Classifying Data
    4) Math on columns
    5) Importing multiple excel files
___

# Background on Sample Data
In this lecture, we will be working with two Sample Datasets from my time here at UMD. Our main focus will be to import and manipulating the data in Jupyter Notebooks. However, it also important to understand the context of the data so we know how a typical engineer would conduct analysis. The skills we learn in this lecture are not random and represent a typical workflow or analysis that an every day engineer could use either in their daily lives or at their job

## Motor Oil Viscosity (Source: CHBE410)
(1) This data set represents the viscosity of a motor oil product at the end of the manufacturing line.
* Typically, in industry tests and measurements are run in triplets (3 times) or more to ensure that results are consistent with each other and our data doesn't get skewed by a bad test.
* Therefore, we can think of this type of data like a quality check that is done at any manufacturing line or lab.

(2) The results of each test is represented by the columns Visc1, Visc2, and Visc3.

(3) Each row represents the triplet measurement for each day
* Because the motor oil is produced every day, its important to collect data on the viscosity everyday to ensure our product is consistent day to day

## Agitation and Mixing (Source: CHBE473)
In CHBE473, one of the experiments is to investigate the impacts of impeller type and rotational speed of the Torque the tank experiences, which correlates to Power consumption.

Below is a picture of the experimental setup. To analysis this data you just have to understand that we are using a motor to turn a impeller to mix water in a 5L tank. Then, we have a tool that allows us to measure Torque on the tank from the impeller.

<img src="../jupyter-notebook-images/agitation-setup.jpg"/>

(1) Data is collected for two impellers types (Turbine and Pitch)

(2) For each run, the computer collects data for 30 secs and reports the avg Volts, Torque, and Force measured during the 30 secs

(3) For each impeller, we tested 4 rotational speeds: 250, 275, 300, 375 in units of rotations per minute (RPM)

(4) For each RPM, we did the 30 sec measurements 3 times (3 data points for each rotational speed)

Given this information, you should the required background knowledge of the data so our future analysis makes more sense

# 1) Importing data with Pandas

In [2]:
# first we will import both numpy and pandas
import numpy as np
import pandas as pd

If we open the Sample Data excel, we should see that there are two worksheets in the workbook
* Motor Oil
* Agitation and Mixing

If we don't specify which sheet we want, then the default import will be the first worksheet

In [3]:
df = pd.read_excel('../Sample-Data/Sample-Data.xlsx')

df.head() # head shows the first n number of rows. If no number is given then the default is 5

   Day  Visc1  Visc2  Visc3
0    1  10.37  10.19  10.36
1    2  10.48  10.24  10.58
2    3  10.77  10.22  10.54
3    4  10.47  10.26  10.31
4    5  10.84  10.75  10.53

Let's try importing the agitation and mixing data by specifying the sheet_name when importing

In [4]:
df2 = pd.read_excel('../Sample-Data/Sample-Data.xlsx', sheet_name="Agitation_and_Mixing")

df2.head() # head shows the first n number of rows. If no number is given then the default is 5

  Impeller  Speed (RPM)  Avg Volts (V)  Avg Torque (Nm)  Avg Force (N)
0    Pitch          250          4.075         0.510379       0.091868
1    Pitch          250          4.075         0.508852       0.091593
2    Pitch          250          4.075         0.511132       0.092004
3    Pitch          275          4.090         0.610504       0.109891
4    Pitch          275          4.091         0.612777       0.110300

We can also use index of the worksheets (the 2nd sheet has an index of 1)

In [5]:
df2 = pd.read_excel('../Sample-Data/Sample-Data.xlsx', sheet_name=1)

df2.head() # head shows the first n number of rows. If no number is given then the default is 5

  Impeller  Speed (RPM)  Avg Volts (V)  Avg Torque (Nm)  Avg Force (N)
0    Pitch          250          4.075         0.510379       0.091868
1    Pitch          250          4.075         0.508852       0.091593
2    Pitch          250          4.075         0.511132       0.092004
3    Pitch          275          4.090         0.610504       0.109891
4    Pitch          275          4.091         0.612777       0.110300

# 2) Aggregation of the Data
We can now look at some of the statistics we can do on the data that we've used in our Pandas lecture

Find the mean of each column

In [6]:
df.mean()

Day      13.0000
Visc1    10.4692
Visc2    10.5000
Visc3    10.4584
dtype: float64

Find the mean of each row

In [7]:
df.mean(axis=1)

0      7.9800
1      8.3250
2      8.6325
3      8.7600
4      9.2800
5      9.3775
6      9.5975
7      9.8675
8     10.0425
9     10.3700
10    10.5850
11    10.8275
12    11.0525
13    11.4550
14    11.6200
15    11.8600
16    12.0825
17    12.5700
18    12.6025
19    12.7925
20    13.1950
21    13.3325
22    13.5550
23    13.8650
24    14.0450
dtype: float64

Find the std for each row

In [8]:
df.std(axis=1)

0     4.654066
1     4.219080
2     3.761767
3     3.174597
4     2.856303
5     2.251760
6     1.732250
7     1.253033
8     0.698636
9     0.304302
10    0.328684
11    0.841640
12    1.300189
13    1.700520
14    2.253826
15    2.764055
16    3.282239
17    3.620341
18    4.269874
19    4.807330
20    5.204079
21    5.778831
22    6.300331
23    6.758207
24    7.303490
dtype: float64

Now lets store these values as new columns in the original DataFrame

In [9]:
df['avg'] = df.mean(axis=1)
df['std'] = df.std(axis=1)
df['range'] = df[['Visc1','Visc2','Visc3']].max(axis=1) - df[['Visc1','Visc2','Visc3']].min(axis=1)  # BONUS (finds the range by subtracting the max and min value in each row)

df

    Day  Visc1  Visc2  Visc3      avg       std  range
0     1  10.37  10.19  10.36   7.9800  4.030540   0.18
1     2  10.48  10.24  10.58   8.3250  3.653830   0.34
2     3  10.77  10.22  10.54   8.6325  3.257786   0.55
3     4  10.47  10.26  10.31   8.7600  2.749282   0.21
4     5  10.84  10.75  10.53   9.2800  2.473631   0.31
5     6  10.48  10.53  10.50   9.3775  1.950082   0.05
6     7  10.41  10.52  10.46   9.5975  1.500173   0.11
7     8  10.40  10.38  10.69   9.8675  1.085158   0.31
8     9  10.33  10.35  10.49  10.0425  0.605036   0.16
9    10  10.73  10.45  10.30  10.3700  0.263534   0.43
10   11  10.41  10.68  10.25  10.5850  0.284649   0.43
11   12  10.00  10.60  10.71  10.8275  0.728882   0.71
12   13  10.37  10.50  10.34  11.0525  1.125997   0.16
13   14  10.47  10.60  10.75  11.4550  1.472693   0.28
14   15  10.46  10.46  10.56  11.6200  1.951871   0.10
15   16  10.44  10.68  10.32  11.8600  2.393742   0.36
16   17  10.65  10.42  10.26  12.0825  2.842502   0.39
17   18  10.73  10.72  10.83  12.5700  3.135307   0.11
18   19  10.39  10.75  10.27  12.6025  3.697819   0.48
19   20  10.59  10.23  10.35  12.7925  4.163270   0.36
20   21  10.47  10.67  10.64  13.1950  4.506864   0.20
21   22  10.40  10.55  10.38  13.3325  5.004615   0.17
22   23  10.24  10.71  10.27  13.5550  5.456246   0.47
23   24  10.37  10.69  10.40  13.8650  5.852779   0.32
24   25  10.46  10.35  10.37  14.0450  6.325008   0.11

In other cases, we might want a column in a different units. Therefore, we can easily set a new column based on the values on another column

In [10]:
df['agg'] = np.sqrt(df['Visc1'] * 3.14)
df

    Day  Visc1  Visc2  Visc3      avg       std  range       agg
0     1  10.37  10.19  10.36   7.9800  4.030540   0.18  5.706295
1     2  10.48  10.24  10.58   8.3250  3.653830   0.34  5.736480
2     3  10.77  10.22  10.54   8.6325  3.257786   0.55  5.815307
3     4  10.47  10.26  10.31   8.7600  2.749282   0.21  5.733742
4     5  10.84  10.75  10.53   9.2800  2.473631   0.31  5.834175
5     6  10.48  10.53  10.50   9.3775  1.950082   0.05  5.736480
6     7  10.41  10.52  10.46   9.5975  1.500173   0.11  5.717290
7     8  10.40  10.38  10.69   9.8675  1.085158   0.31  5.714543
8     9  10.33  10.35  10.49  10.0425  0.605036   0.16  5.695279
9    10  10.73  10.45  10.30  10.3700  0.263534   0.43  5.804498
10   11  10.41  10.68  10.25  10.5850  0.284649   0.43  5.717290
11   12  10.00  10.60  10.71  10.8275  0.728882   0.71  5.603570
12   13  10.37  10.50  10.34  11.0525  1.125997   0.16  5.706295
13   14  10.47  10.60  10.75  11.4550  1.472693   0.28  5.733742
14   15  10.46  10.46  10.56  11.6200  1.951871   0.10  5.731003
15   16  10.44  10.68  10.32  11.8600  2.393742   0.36  5.725522
16   17  10.65  10.42  10.26  12.0825  2.842502   0.39  5.782819
17   18  10.73  10.72  10.83  12.5700  3.135307   0.11  5.804498
18   19  10.39  10.75  10.27  12.6025  3.697819   0.48  5.711795
19   20  10.59  10.23  10.35  12.7925  4.163270   0.36  5.766507
20   21  10.47  10.67  10.64  13.1950  4.506864   0.20  5.733742
21   22  10.40  10.55  10.38  13.3325  5.004615   0.17  5.714543
22   23  10.24  10.71  10.27  13.5550  5.456246   0.47  5.670414
23   24  10.37  10.69  10.40  13.8650  5.852779   0.32  5.706295
24   25  10.46  10.35  10.37  14.0450  6.325008   0.11  5.731003

# 3) Self Labeling/Classifying Data
In our data above, we have each row set as a date. Instead of looking at values per day, we can also look at information based on each week. Therefore, we will try to self label the days based on each week it belongs to

First we will change the Day to start from 0 instead of 1

In [11]:
df['Day'] = df['Day'] -1

df.head()

   Day  Visc1  Visc2  Visc3     avg       std  range       agg
0    0  10.37  10.19  10.36  7.9800  4.030540   0.18  5.706295
1    1  10.48  10.24  10.58  8.3250  3.653830   0.34  5.736480
2    2  10.77  10.22  10.54  8.6325  3.257786   0.55  5.815307
3    3  10.47  10.26  10.31  8.7600  2.749282   0.21  5.733742
4    4  10.84  10.75  10.53  9.2800  2.473631   0.31  5.834175

In [12]:
df['Week'] = df['Day'] // 7  # 7 days in a week, so if we divide by how many times it is divisible by 7, it will represent the number of weeks
df["Week"] = df["Week"]

df

    Day  Visc1  Visc2  Visc3      avg       std  range       agg  Week
0     0  10.37  10.19  10.36   7.9800  4.030540   0.18  5.706295     0
1     1  10.48  10.24  10.58   8.3250  3.653830   0.34  5.736480     0
2     2  10.77  10.22  10.54   8.6325  3.257786   0.55  5.815307     0
3     3  10.47  10.26  10.31   8.7600  2.749282   0.21  5.733742     0
4     4  10.84  10.75  10.53   9.2800  2.473631   0.31  5.834175     0
5     5  10.48  10.53  10.50   9.3775  1.950082   0.05  5.736480     0
6     6  10.41  10.52  10.46   9.5975  1.500173   0.11  5.717290     0
7     7  10.40  10.38  10.69   9.8675  1.085158   0.31  5.714543     1
8     8  10.33  10.35  10.49  10.0425  0.605036   0.16  5.695279     1
9     9  10.73  10.45  10.30  10.3700  0.263534   0.43  5.804498     1
10   10  10.41  10.68  10.25  10.5850  0.284649   0.43  5.717290     1
11   11  10.00  10.60  10.71  10.8275  0.728882   0.71  5.603570     1
12   12  10.37  10.50  10.34  11.0525  1.125997   0.16  5.706295     1
13   13  10.47  10.60  10.75  11.4550  1.472693   0.28  5.733742     1
14   14  10.46  10.46  10.56  11.6200  1.951871   0.10  5.731003     2
15   15  10.44  10.68  10.32  11.8600  2.393742   0.36  5.725522     2
16   16  10.65  10.42  10.26  12.0825  2.842502   0.39  5.782819     2
17   17  10.73  10.72  10.83  12.5700  3.135307   0.11  5.804498     2
18   18  10.39  10.75  10.27  12.6025  3.697819   0.48  5.711795     2
19   19  10.59  10.23  10.35  12.7925  4.163270   0.36  5.766507     2
20   20  10.47  10.67  10.64  13.1950  4.506864   0.20  5.733742     2
21   21  10.40  10.55  10.38  13.3325  5.004615   0.17  5.714543     3
22   22  10.24  10.71  10.27  13.5550  5.456246   0.47  5.670414     3
23   23  10.37  10.69  10.40  13.8650  5.852779   0.32  5.706295     3
24   24  10.46  10.35  10.37  14.0450  6.325008   0.11  5.731003     3

Now we can use a group by and find the average for each week

In [13]:
df[["avg","std","agg","Week"]].groupby('Week').mean()

            avg       std       agg
Week
0      8.850357  2.802189  5.754253
1     10.600000  0.795136  5.710745
2     12.388929  3.241625  5.750841
3     13.699375  5.659662  5.705564

# 4) Math on columns (just as you would do on excel)

One of the nice functions in Excel is the ability to easily do math on an entire column and then plot columns. Using our Agitation and Mixing data, we can see that it is as simple in Pandas and allows for even more versatility

Previously, we already imported the agitation and mixing data from our Sample-Data.xlsx.

In [14]:
df2

   Impeller  Speed (RPM)  Avg Volts (V)  Avg Torque (Nm)  Avg Force (N)
0     Pitch          250          4.075         0.510379       0.091868
1     Pitch          250          4.075         0.508852       0.091593
2     Pitch          250          4.075         0.511132       0.092004
3     Pitch          275          4.090         0.610504       0.109891
4     Pitch          275          4.091         0.612777       0.110300
5     Pitch          275          4.092         0.623118       0.112161
6     Pitch          300          4.109         0.731870       0.131737
7     Pitch          300          4.106         0.712250       0.128205
8     Pitch          300          4.107         0.722752       0.130095
9     Pitch          350          4.127         0.851271       0.153229
10    Pitch          350          4.126         0.845133       0.152124
11    Pitch          350          4.128         0.856186       0.154114
12    Pitch          375          4.137         0.916348       0.164943
13    Pitch          375          4.135         0.905341       0.162961
14    Pitch          375          4.133         0.893206       0.160777
15  Turbine          250          4.141         0.944479       0.170006
16  Turbine          250          4.143         0.955061       0.171911
17  Turbine          250          4.144         0.960716       0.172929
18  Turbine          275          4.161         1.073630       0.193253
19  Turbine          275          4.164         1.095700       0.197225
20  Turbine          275          4.161         1.076750       0.193815
21  Turbine          300          4.188         1.257560       0.226361
22  Turbine          300          4.190         1.270130       0.228623
23  Turbine          300          4.189         1.258960       0.226613
24  Turbine          350          4.219         1.457750       0.262395
25  Turbine          350          4.225         1.498230       0.269681
26  Turbine          350          4.224         1.493400       0.268811
27  Turbine          375          4.239         1.593720       0.286869
28  Turbine          375          4.238         1.582000       0.284761
29  Turbine          375          4.257         1.711790       0.308123

The first thing we want to do is find the averages of each of the three measurements for each RPM
* This time not only do we have different RPM's we have RPM for each impeller as well
* Therefore, we will group by both impeller and RPM

In [15]:
mixing_data_avg = df2.groupby(['Impeller','Speed (RPM)']).mean()

mixing_data_avg

                      Avg Volts (V)  Avg Torque (Nm)  Avg Force (N)
Impeller Speed (RPM)
Pitch    250               4.075000         0.510121       0.091822
         275               4.091000         0.615466       0.110784
         300               4.107333         0.722291       0.130012
         350               4.127000         0.850863       0.153156
         375               4.135000         0.904965       0.162894
Turbine  250               4.142667         0.953419       0.171615
         275               4.162000         1.082027       0.194764
         300               4.189000         1.262217       0.227199
         350               4.222667         1.483127       0.266962
         375               4.244667         1.629170       0.293251

From looking at the DataFrame above, we see that Impeller and Speed are in indexes. Since we did a two parameter group by, the data is separated by the index and we can remove the index so that we can work with the columns again

In [16]:
mixing_data_avg.reset_index(inplace=True)
mixing_data_avg

  Impeller  Speed (RPM)  Avg Volts (V)  Avg Torque (Nm)  Avg Force (N)
0    Pitch          250       4.075000         0.510121       0.091822
1    Pitch          275       4.091000         0.615466       0.110784
2    Pitch          300       4.107333         0.722291       0.130012
3    Pitch          350       4.127000         0.850863       0.153156
4    Pitch          375       4.135000         0.904965       0.162894
5  Turbine          250       4.142667         0.953419       0.171615
6  Turbine          275       4.162000         1.082027       0.194764
7  Turbine          300       4.189000         1.262217       0.227199
8  Turbine          350       4.222667         1.483127       0.266962
9  Turbine          375       4.244667         1.629170       0.293251

After getting the averages of the data, we can continue to do more analysis and add columns based on engineering equations

For example, the equation for Power, Reynold's Number, and Power Number (Dimensionless numbers learn in CHEB422)

\begin{align}
P &= 2*\pi*n*\tau\\
N_{Re} &= \frac{D_a * n * \rho}{\mu}\\
N_P &= 2*\pi*n*\tau\\
\end{align}

In [17]:
mixing_data_avg['Power'] = 2*mixing_data_avg['Avg Volts (V)']*np.pi*mixing_data_avg['Speed (RPM)']

Similar to excel we can continue to make more columns based on the values in each row. Therefore, our final DataFrame will look like this, but we can continue add more columns as desired.

With this, we are ready to move on to plotting and learning how we can take this DataFrame directly and plot it quickly with Python plotting libraries (Matplotlib and Seaborn)

In [18]:
mixing_data_avg

,Impeller,Speed (RPM),Avg Volts (V),Avg Torque (Nm),Avg Force (N),Power
0,Pitch,250,4.075000,0.510121,0.091822,6400.995032
1,Pitch,275,4.091000,0.615466,0.110784,7068.740550
2,Pitch,300,4.107333,0.722291,0.130012,7742.140936
3,Pitch,350,4.127000,0.850863,0.153156,9075.747017
4,Pitch,375,4.135000,0.904965,0.162894,9742.864217
5,Turbine,250,4.142667,0.953419,0.171615,6507.285583
6,Turbine,275,4.162000,1.082027,0.194764,7191.419743
7,Turbine,300,4.189000,1.262217,0.227199,7896.078976
8,Turbine,350,4.222667,1.483127,0.266962,9286.129005
9,Turbine,375,4.244667,1.629170,0.293251,10001.260213

# 5) Importing multiple excel files
Often times, each run of an experiment on a machine will exist as its own excel file. Therefore, its possible to have multiple excel files we need to extract data from and put it all into one DataFrame.

There are two different excel structures we might work with

    A) Data stored in separate worksheets, but the same workbook (one .xlsx file)
    B) Each individual excel file per experiment

Both methods will require us to loop through so we can extract, label, and concatenate all into one big DataFrame

## A) One excel file, multiple worksheets
The method to extract all pages by selecting sheet_name = None, which returns a dictionary of each sheet_name and the data in a DataFrame

In [65]:
all_sheets = pd.read_excel("../Sample-Data/Sample-Multiple-Sheets-Data.xlsx", sheet_name = None)

all_sheets.keys()

dict_keys(['Sheet1', 'Sheet2'])

Then we can loop through each of these sheet names and concat them together in one DataFrame. We can also add another column and label based on the sheet name

1) Create empty DataFrame
2) Loop through the dictionary items
3) For each loop, we add a column based on the sheet name
4) For each loop, we concat the data to the big DataFrame

In [67]:
all_data = pd.DataFrame()

for (sheet_name, data) in all_sheets.items():
    data['mean'] = data[["y1","y2"]].mean(axis=1)
    data["label"] = sheet_name
    all_data = pd.concat([all_data, data], ignore_index=True, axis=0)

all_data

     x        y1        y2      mean   label
0    0  5.842448  6.170307  6.006378  Sheet1
1    1  9.517800  7.912838  8.715319  Sheet1
2    2  0.176674  1.283971  0.730322  Sheet1
3    3  0.154567  7.279645  3.717106  Sheet1
4    4  5.055292  6.127802  5.591547  Sheet1
5    5  4.180061  6.649949  5.415005  Sheet1
6    6  1.628031  7.109850  4.368940  Sheet1
7    7  9.530741  2.674001  6.102371  Sheet1
8    8  4.649137  3.969244  4.309191  Sheet1
9    9  1.002259  0.235091  0.618675  Sheet1
10  10  3.968913  6.261455  5.115184  Sheet1
11   0  9.130255  9.827719  9.478987  Sheet2
12   1  6.088670  2.097678  4.093174  Sheet2
13   2  0.831021  1.716023  1.273522  Sheet2
14   3  9.037936  2.379243  5.708589  Sheet2
15   4  0.591781  9.115984  4.853882  Sheet2
16   5  4.945173  6.801653  5.873413  Sheet2
17   6  6.937250  8.067965  7.502607  Sheet2
18   7  4.661367  9.117163  6.889265  Sheet2
19   8  2.046455  8.368191  5.207323  Sheet2
20   9  4.585545  2.241479  3.413512  Sheet2
21  10  7.050109  8.389559  7.719834  Sheet2

## B) Multiple files, one sheet each
When there are multiple files, we will utilize the glob module to help retrieve all files and their paths within a folder. glob is already built into Python, so there is no need to pip install it

In [ ]:
import glob

In [76]:
files = glob.glob("../Sample-Data/Multiple-Files-Sample/*")
    
files

['../Sample-Data/Multiple-Files-Sample\\File-1.xlsx',
 '../Sample-Data/Multiple-Files-Sample\\File-2.xlsx',
 '../Sample-Data/Multiple-Files-Sample\\File-3.xlsx',
 '../Sample-Data/Multiple-Files-Sample\\spam.txt']

However, if we use glob to grab all files, we see that there is a spam.txt file that we grabbed as well. We can choose which file extensions we want when we use glob

In [77]:
files = glob.glob("../Sample-Data/Multiple-Files-Sample/*.xlsx")
    
files

['../Sample-Data/Multiple-Files-Sample\\File-1.xlsx',
 '../Sample-Data/Multiple-Files-Sample\\File-2.xlsx',
 '../Sample-Data/Multiple-Files-Sample\\File-3.xlsx']

Now we are ready to extract all the data and use the same technique and import all the data into one DataFrame. But this time, instead of having the data in a dictionary, we will have to read_excel for each iteration to get the data

In [84]:
all_data = pd.DataFrame()

for file_path in files:
    data = pd.read_excel(file_path)
    data['mean'] = data[["y1","y2"]].mean(axis=1)
    data["label"] = file_path[-11:-5]
    all_data = pd.concat([all_data, data], ignore_index=True, axis=0)

all_data

     x        y1        y2      mean   label
0    0  0.182181  0.382998  0.282590  File-1
1    1  0.204455  0.603022  0.403738  File-1
2    2  0.194305  0.495450  0.344878  File-1
3    3  0.099124  0.361896  0.230510  File-1
4    4  0.469680  0.360478  0.415079  File-1
5    5  0.691278  0.280120  0.485699  File-1
6    6  0.737083  0.907103  0.822093  File-1
7    7  0.869217  0.872852  0.871035  File-1
8    8  0.711952  0.598938  0.655445  File-1
9    9  0.179288  0.765038  0.472163  File-1
10  10  0.689540  0.205951  0.447746  File-1
11   0  0.786925  0.709605  0.748265  File-2
12   1  0.690524  0.286425  0.488475  File-2
13   2  0.870285  0.787258  0.828772  File-2
14   3  0.196324  0.540120  0.368222  File-2
15   4  0.049936  0.582773  0.316354  File-2
16   5  0.976971  0.897707  0.937339  File-2
17   6  0.075479  0.593872  0.334676  File-2
18   7  0.428381  0.570697  0.499539  File-2
19   8  0.349165  0.310598  0.329881  File-2
20   9  0.943106  0.408943  0.676025  File-2
21  10  0.168446  0.740655  0.454551  File-2
22   0  0.901538  0.839929  0.870733  File-3
23   1  0.429651  0.158281  0.293966  File-3
24   2  0.854709  0.788641  0.821675  File-3
25   3  0.816674  0.876843  0.846759  File-3
26   4  0.006489  0.470954  0.238722  File-3
27   5  0.604577  0.363550  0.484063  File-3
28   6  0.831808  0.317878  0.574843  File-3
29   7  0.624105  0.141725  0.382915  File-3
30   8  0.066917  0.996761  0.531839  File-3
31   9  0.323600  0.750357  0.536978  File-3
32  10  0.670924  0.023001  0.346962  File-3